@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

// This sets the reusable properties.
:root {
    --newprimary: #3E5B6E;
    --newsecondary: #00CF7E;
    --newtertiary: #9DB4C5;
    --accents: #EF4740;
    --buttons: #EF4740 - #FD3E38;
    --primary-color: #75FBBB;
    --secondary-color: #003366;
    --tertiary-color: #ED1C24;
    --some-other-color: #EFEA00;
}

body {

    .background-illustration {
        background: url(/assets/Background_Rectangles.png), url(/assets/tools-background-illust.png);
    }
    font-family: Poppins;
    a {
        text-decoration: none;
        color: white;
    }
    margin: 0;
    background-color: #f3f3f3;
    li {
        list-style-type: none;
    }
}

header {
    background: var(--newprimary);
    nav {
        display: none;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 0.5em 1em;
        align-items: center;
        box-shadow: 3px 2px 3px grey;
    }
    .logo {
        width: 30%;
    }
    .mobile-menu {
        width: 8%;
        cursor: pointer;
    }
}

.hero {
    text-align: center;
}

.primary-cta {
        background-color: var(--accents);
        border: none;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        padding: 1em 3em;
        border-radius: 0.7em;

    }

main .container {

    //Experimental
    // p {
    //     display: none;
    // }

    span {
        display: none;
    }
    //Experimental ends

       
    h1 {
         color: var(--newprimary);
         font-weight: bold;
         font-size: 2.3rem;
         line-height: 1.3em;
         margin-top: 1em;
    }

    h3 {
        font-weight: normal;
        font-size: 1.3rem;
        color: var(--newsecondary);
        margin-top: -1em;
    }


    .reader {
        width: 7%;
    }

    .read-more {
        display: block;
        margin-top: 1em;
        color: var(--newprimary);
        font-size: 0.8em;
        text-decoration: underline;
    }

    .laptop {
        margin-top: 3em;
    }

    p {
        color: var(--newsecondary);
    }
}



.header-container {
    background: var(--newprimary);
    background-image: url(/Nuestman_Computer_Repairs/assets/mobileHeader-back-illust.png);
    text-align: center;
}

.section-header {
    padding-top: 0.5em;
    color: #00CF7E;
    font-size: 2.5rem;
}

.section-header-2 {
    color: white;
    font-size: 2.5rem;
    margin-top: -1.2em;
    margin-left: 0.7em;
    padding-bottom: 0.5em;
}

main {
    .services {
        background: var(--newtertiary);
        
    }

    .services .primary-cta {
        font-weight: lighter;
        padding: 0.5em 1em;
        border-radius: 0.2em;
        margin: 0 5em 0 5em;
    }

    .subtitle {
        text-align: center;
        color: var(--newprimary);
        font-weight: bold;
        background: white;
        margin: 0 3.5em;
        padding: 0.1em 0;
        border-radius: 0.5em;
        // width: 100%vw;
        
    }

    ul.service-list {
    //same as ".services ul"
        background: white;
        color: var(--newprimary);
        line-height: 2em;
        padding: 1.5em 0.1em 1em 2.8em;
        border-radius: 0.5em;
        margin: 2em 3em;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));


        li {
            line-height: 2.5em;
            &:before {                
                content: '';
                left: 1em;
                width: 20px;
                height: 20px;
                position: absolute;
                background-image: url(../assets/mobileServices-Icon-awesome-check-circle.png);
                background-size: contain;
                margin-top: 0.6em;
            }
        }
    }    
}







@media screen and (min-width: 768px) {
    header {
        .mobile-menu, .mobile-menu-exit {
            display: none;
        }
        
        .logo {
            width: 20%;
        }

        nav {
            display: block;
            ul {
                display: flex;
            }
            li {
                align-items: center;
                padding: 1em 2em;
            }

            .nav-contact {
                border: 2px solid white;
                border-radius: 5em;
                padding: 0.5em 1.5em;
                &:hover {
                    background: white;
                    color: var(--secondary-color);
                    font-weight: bold;
                }
            }
        }
    }

    .container .contents {
        span, p {
            display: none;
        }
        display: flex;
        justify-content: space-between;
    }


    
}