@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --newprimary: #3e5b6e;
  --newsecondary: #00cf7e;
  --newtertiary: #9db4c5;
  --accents: #ef4740;
  --buttons: #ef4740 - #fd3e38;
  --primary-color: #75fbbb;
  --secondary-color: #003366;
  --tertiary-color: #ed1c24;
  --some-other-color: #efea00;
}

/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: var(--newprimary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #f3f3f3;
}
body section {
  background: #9db4c5;
}
body a {
  text-decoration: none;
}
body li {
  list-style-type: none;
}

/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*Nitty-Gritty Styling*/
header {
  background: var(--newprimary);
  color: var(--newsecondary);
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em;
}
header .logo {
  width: 120px;
}
header .mobile-menu {
  width: 6%;
  cursor: pointer;
}
header nav {
  display: none;
  background: var(--newprimary);
  position: fixed;
  z-index: 999;
  width: 80%;
  right: 0;
  top: 0;
  height: 100vh;
  padding-top: 0.6em;
}
header nav .nav-background {
  background: white;
  padding-right: 1em;
}
header nav ul.primary-nav {
  margin-top: 3.05em;
}
header nav li {
  text-align: center;
  border-bottom: var(--newprimary) solid 1px;
}
header nav li a {
  color: var(--newsecondary);
  line-height: 4em;
}
header nav .mobile-menu-exit {
  float: right;
  width: 6%;
  cursor: pointer;
  margin-top: -2.6em;
}
header i {
  position: absolute;
  top: 1.5em;
  right: 4.2em;
  color: var(--newprimary);
}
header .faq > i {
  position: absolute;
  top: 2.85em;
  right: 4.2em;
}
header .about > i {
  position: absolute;
  top: 5.5em;
  right: 4.2em;
}
header .coming-soon > i {
  position: absolute;
  top: 4.2em;
  right: 4.2em;
}
header .nav-contact-cta > i {
  position: absolute;
  top: 6.85em;
  right: 4.4em;
}
header nav.menuBtn {
  display: block;
}

/*Hero Style*/
main {
  background-image: url("../assets/Background_Rectangles.png");
}

.hero-section {
  background: unset;
  text-align: center;
  color: var(--newprimary);
}
.hero-section .container {
  display: flex;
  flex-wrap: wrap;
}
.hero-section h1 {
  font-size: 2.5rem;
  line-height: 1.2em;
}
.hero-section h3 {
  font-size: 1.375em;
  color: var(--newsecondary);
  font-weight: normal;
  margin-top: 1em;
}
.hero-section .primary-cta {
  margin-top: 3em;
  background: var(--accents);
  padding: 1em 3em;
  color: white;
  font-weight: bold;
  border-radius: 1em;
}
.hero-section .secondary-cta {
  margin-top: 1em;
  display: block;
  font-size: 0.7rem;
  color: var(--newprimary);
}
.hero-section .secondary-cta img {
  display: unset;
  width: 10%;
}
.hero-section .right-hero {
  margin-top: 2em;
  color: var(--newsecondary);
  width: 80%;
  margin: 2em auto;
}

.services-section {
  text-align: center;
  margin-top: 2em;
  padding-bottom: 2em;
}

.service-list,
.faq-ask,
.technician-card-left,
.technician-bio-right,
.contact-card-left {
  background: white;
  border: 7px solid var(--newtertiary);
  border-radius: 1em;
  box-shadow: 0 1px 3px var(--newprimary);
  padding: 1em 1em 1em 0;
  margin: 2em;
  text-align: left;
  line-height: 2em;
  font-size: 10pt;
}
.service-list li,
.faq-ask li,
.technician-card-left li,
.technician-bio-right li,
.contact-card-left li {
  padding-right: 2em;
}
.service-list .fa-ul,
.faq-ask .fa-ul,
.technician-card-left .fa-ul,
.technician-bio-right .fa-ul,
.contact-card-left .fa-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
.service-list .fa-ul i,
.faq-ask .fa-ul i,
.technician-card-left .fa-ul i,
.technician-bio-right .fa-ul i,
.contact-card-left .fa-ul i {
  color: var(--newsecondary);
}

/*General section styling*/
.section-heading {
  background: var(--newprimary);
  color: white;
  padding: 1em;
  box-shadow: 0 1px 3px var(--newprimary);
}
.section-heading .section-title {
  text-align: center;
  color: var(--newsecondary);
}
.section-heading .section-title2 {
  padding-left: 3.15em;
  margin-top: -0.6em;
}
.section-heading .section-title2 i {
  color: white;
  padding-right: 0.3em;
}
.section-heading h2 {
  font-size: 1.625em;
}

.subtitle {
  background: white;
  text-align: center;
  margin: 1.5em 2em;
  font-size: 10pt;
  border-radius: 0.5em;
  padding: 0.3em;
  box-shadow: 0 1px 3px var(--newprimary);
  border: 5px solid var(--newtertiary);
  box-shadow: 0 1px 3px var(--newsecondary);
}

/*Box Shadow for all*/
.faq-ask,
.technician-card-left,
.technician-bio-right,
.card,
.contact-card-left {
  box-shadow: 0 1px 3px var(--newsecondary);
}

/*FAQ Section styling*/
.faq-section {
  background: unset;
}
.faq-section .section-title2 {
  padding-left: 4.6em;
  margin-top: -0.6em;
}

/*About Us styling*/
.about-section {
  background: var(--newprimary);
  padding-bottom: 2em;
}
.about-section .section-heading {
  border-bottom: 5px solid var(--newtertiary);
  box-shadow: 0 2px 2px var(--newsecondary);
}
.about-section .section-title2 {
  padding-left: 5em;
  margin-top: -0.4em;
}
.about-section .section-title2 i {
  padding-right: 0.1em;
}
.about-section .technician-card-left {
  margin-top: 7em;
  text-align: center;
}
.about-section .technician-card-left .technician {
  margin-top: -8em;
}
.about-section .technician-card-left .green {
  color: var(--newsecondary);
  padding-left: 0.3em;
}
.about-section .technician-card-left .technician-name {
  font-weight: bold;
  font-size: 1.2rem;
  font-variant: small-caps;
}
.about-section .technician-card-left .titles {
  font-weight: lighter;
  font-size: 8pt;
  margin: 0 3.5em;
  text-align: center;
}
.about-section .technician-card-left .titles .green {
  color: var(--newsecondary);
  padding-left: 0.3em;
}
.about-section .technician-bio-right {
  text-align: center;
  margin-top: 2em;
  padding: 1em;
}
.about-section .technician-bio-right .green {
  color: var(--newsecondary);
  padding-left: 0.3em;
}
.about-section .technician-bio-right .red-smile {
  color: var(--accents);
}
.about-section .technician-bio-right .green-smile {
  padding: 0 1.3em;
  color: var(--newsecondary);
}

/*Testimonial styling*/
.testimonial-section {
  margin-top: 2em;
  background: unset;
}
.testimonial-section .section-heading {
  margin-bottom: 2em;
}
.testimonial-section .grey-background {
  background: var(--newtertiary);
  height: 16em;
  padding-top: 4em;
}
.testimonial-section .grey-background .subtitle {
  margin-top: -3em;
}
.testimonial-section .card-content {
  display: flex;
  gap: 1.5em;
  overflow: hidden;
  margin: -12em -1em 0 -1em;
  padding: 0 1em 1em 1em;
}
.testimonial-section .card-content .card {
  border: 7px solid var(--newtertiary);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 2em;
  margin-left: 2em;
  line-height: 2em;
  font-size: 10pt;
  background: var(--newprimary);
  color: white;
  text-align: center;
  margin-top: 4em;
}
.testimonial-section .card-content .card img {
  width: 50%;
  margin: -4.5em auto;
  border: 0.6em solid var(--newprimary);
  border-radius: 15em;
}
.testimonial-section .card-content .card blockquote {
  margin-top: 4em;
  width: 12em;
}
.testimonial-section .card-content .card cite {
  color: var(--newtertiary);
  border-top: 1px solid var(--newsecondary);
}

/*What's cooking styling*/
.what-next-section {
  padding-bottom: 2em;
  color: white;
}
.what-next-section .section-title2 {
  padding-left: 2.2em;
  margin-top: -0.4em;
}
.what-next-section .section-title2 i {
  padding-right: 0.1em;
}
.what-next-section .subtitle {
  color: var(--newsecondary);
  font-weight: bold;
}
.what-next-section li {
  line-height: 2.5em;
  list-style-type: disc;
  margin: 0 1em;
}
.what-next-section li a:hover {
  color: white;
}

/*Contact styling*/
.contact-section {
  background: unset;
}
.contact-section .section-title2 {
  display: flex;
  padding-left: 5.4em;
  margin-top: -0.4em;
}
.contact-section .section-title2 i {
  padding-right: 0.1em;
}
.contact-section .contact-card-left {
  z-index: 999;
  font-size: 1rem;
  margin-top: 2em;
}
.contact-section .contact-card-left form {
  padding-top: 1em;
}
.contact-section .contact-card-left input, .contact-section .contact-card-left label, .contact-section .contact-card-left textarea {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.contact-section .contact-card-left span {
  color: var(--accents);
}
.contact-section .contact-card-left input, .contact-section .contact-card-left textarea {
  font-size: 8pt;
  overflow-wrap: break-word;
  border: var(--newsecondary) 1px solid;
  margin-bottom: 1em;
  padding: 0 1em;
  border-radius: 4px;
}
.contact-section .contact-card-left .primary-cta {
  margin-top: 1em;
  background: var(--accents);
  padding: 1em 3em;
  color: white;
  font-weight: bold;
  border-radius: 1em;
  width: 90%;
  margin-left: 1em;
}
.contact-section .contact-section-illustration {
  position: absolute;
  top: 280em;
  opacity: 0.1;
  width: 90%;
}

section.footer {
  padding: unset;
  background: var(--newprimary);
  color: white;
}
section.footer .container {
  all: unset;
}
section.footer .container ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  margin: unset;
}
section.footer .container ul li {
  padding: 1em;
  border-top: 1px solid white;
}
section.footer .container ul li span {
  margin-right: 0.5em;
}
section.footer .container ul li p {
  font-size: 10pt;
  font-style: italic;
}
section.footer .credits {
  padding: 1em 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-top: 1px solid white;
}

/*Media Queries Start*/
@media screen and (min-width: 768px) {
  /*Header-Navbar Styling*/
  header .mobile-menu, header .mobile-menu-exit {
    display: none;
  }
  header .container {
    display: grid;
    grid-template-columns: 300px auto;
    padding: 1em;
  }
  header .logo {
    width: 200px;
  }
  header nav, header .nav-background, header ul, header li {
    all: unset;
  }
  header nav .nav-background {
    background: yellow;
    display: flex;
  }
  header nav .nav-background .about > i, header nav .nav-background .faq > i, header nav .nav-background :before, header nav .nav-background .coming-soon > i, header nav .nav-background .nav-contact-cta > i {
    display: none;
  }
  header nav .nav-background .primary-nav {
    margin: unset;
  }

  /*About Us Styling*/
  .about-section .technician-bio-right {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(8, 1fr);
  }
  .about-section .technician-bio-right p {
    border: 5px solid var(--newtertiary);
    box-shadow: 0px 2px 1px var(--newsecondary);
    border-radius: 0.5em;
    padding: 0.5em;
  }
  .about-section .technician-bio-right :nth-child(even) {
    background: var(--newprimary);
    color: white;
  }
  .about-section .technician-bio-right :last-child .green-smile {
    color: var(--newsecondary);
  }

  section.footer .container ul li {
    padding: 2em;
    border-left: 1px solid white;
  }
}/*# sourceMappingURL=style.css.map */